.recommend {
  position: relative;
  width: 100%;
  display: block;
  padding-top: 30px;
  padding-bottom: 60px;
  /* background-color: pink; */
}

.recommend-inner {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.recommend-header {
  position: relative;
}

.recommend-title {
  position: relative;
  padding-bottom: 10px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.recommend-txt {
  position: relative;
  display: block;
  font-size: 1.8rem;
  color: #a7a9a7;
  text-align: center;
}

.recommend-main {
  position: relative;
  display: block;
  padding: 25px 0px;
}

.recommend-cate {
  position: relative;
  display: flex;
  justify-content: center;
}

.recommend-list {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}

.recommend-list li {
  position: relative;
}

.recommend-cate-bt {
  position: relative;
  display: block;
  padding: 0px 20px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 400px;
  line-height: 42px;
  color: #111;
  cursor: pointer;
  border-radius: 44px;
}

.recommend-cate-bt-active {
  border: 1px solid #333 !important;
  background-color: #333 !important;
  font-weight: 700px !important;
  color: #fff !important;
}

.recommend-slide-wrap {
  position: relative;
  height: 425px;
  margin-top: 23px;
}

.recommend-slide-item {
  position: relative;
  height: 425px;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.recommend-slide-end {
  position: absolute;
  display: block;
  top: 50%;
  right: 50%;
  /* background-color: #ef3e43; */
}

.recommend-slide-end span {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 1.4rem;
  padding-top: 0.6rem;
  left: 3px;
}

.recommend-link {
  position: relative;
  height: 100%;
  display: block;
}

.recommend-img {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.recommend-img img {
  width: 100%;
  /* position: absolute; */
  height: 100%;
  object-fit: cover;
}

.recommend-info {
  position: relative;
  height: calc(100% - 310px);
  padding: 22px 20px;
}

.recommend-good-list {
  position: relative;
}

.recommend-good-list li {
  position: relative;
  margin-bottom: 10px;
}

.recommend-good-info-price {
  position: relative;
  /* 1줄 말줄임 */
  overflow: hidden;
  font-size: 2rem;
  /* font-weight: 700; */
  line-height: 2.4rem;
  /* font-weight: 700px; */
  color: #111;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recommend-good-info-price b {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  /* font-weight: 700px; */
  color: #ef3e43;
}
.recommend-good-info-price em {
  position: relative;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

.recommend-good-info-desc {
  position: relative;
  display: -webkit-box;
  margin-top: 0.6rem;
  /* 2줄 이상 말줄임 */
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #111;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recommend-footer {
  position: relative;
  display: flex;
  font-weight: 700;
  justify-content: center;
}

.recommend-footer button {
  position: relative;
  height: 5.6rem;
  display: block;
  padding: 0px 39px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 42px;
  color: #111;
  cursor: pointer;
  border-radius: 44px;
}

.recommend-footer img {
  position: relative;
  margin-bottom: 0.2rem;
  margin-left: 0.7rem;
  /* transform: rotate(-90deg); */
}
